{% extends "layout.html" %}
{% block title %} Food Tracker | Add Food Item {% endblock %}
{% block body %}
<style>
    .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    color: #fff;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: bolder;
    background:rgba(0, 0, 0, 0.4);
    width: 150px;
    margin-left: 270px;
    
}
.nav>li.active>a:hover, .nav>li.active>a:focus{
    background: rgba(23, 23, 24, 0.4);
}

.nav-pills>li.addfood>a, .nav-pills>li.addfood>a:hover, .nav-pills>li.addfood>a:focus{
    color: #fff;
    border-bottom: 3px solid #2fa4e7;
    font-weight: bolder;
    background:rgba(0, 0, 0, 0.4);
    width: 150px;
    margin-right: 90px;
}
.panel{
    width: 510px;
    margin-left: 270px;
}
.panel-body{
    width: 450px;
    margin-left: 30px;
    margin-bottom: 0px;
}
.panel-2{
    width: 950px;
    margin-left: 50px;
    
}

body{
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu', sans-sarif;
}
#homeJumbo{
      position: relative;
      min-height: 180;
      background: rgba(44, 62, 80, .8);
      background-image: url(" {{ url_for('static', filename='img/bg.jpg')}} ");
      background-size: cover;
      background-repeat: no-repeat;
      border-bottom: 2px solid rgba(44, 62, 80, .8);
      box-shadow: 7px 1px 2px 2px rgba(44, 62, 80, .8);
      margin-bottom: 15px;
      
}
#homeJumbo > div.overlay{
    position: absolute;
    height: 183px;
    width: 100%;
    background: rgba(44, 62, 80, .6);
}
#homeJumbo h1{
    font-size: 30px;
    color: #fff;
    font-family: 'Oswald';
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
}
#homeJumbo h1 > a{
    color: #fff;
    text-decoration: none;
}


</style>
<div class="container-fluid" id="wrapper">
        <div class="row" id="homeJumbo" style="background-image: url(' {{ url_for('static', filename='img/bg.jpg')}} ');">
            <div class="overlay"></div>
            <div class="col-lg-12">
                <h1>
                    <a href="{{url_for('main.index')}}">FOOD TRACKER</a>
                </h1>
                <div class="row t20">
                    <div class="col-lg-4 col-lg-offset-4">
                        <ul class="nav nav-pills nav-justified">
                           <li role="presentation" class="active">
                               <a href="{{url_for('main.index')}}" title="Home"><i class="fas fa-home" style=" margin-right: 10px;"></i>Home</a>
                           </li>
                           <li role="presentation" class="addfood">
                                <a href="{{url_for('main.add')}}" title="Add Food Item">Add Food Item</a>
                           </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row t20">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-default" id="foodform">
                    <div class="panel-body">
                        <h3 class="lean-h text-black">
                            <i class="fas fa-plus-circle"></i>New Food Form
                        </h3>
                        <hr/>
                        <form action="{{url_for('main.add')}}" class="row" method="POST" role="form">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="food-name">Food Name</label>
                                        <input type="text" class="form-control" name="food-name" id="food-name" placeholder="Food Name" value="{{food.name}}" autofocus>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="protein">Protein</label>
                                        <input type="number" class="form-control" name="protein" id="protein" placeholder="Protein" value="{{food.proteins}}">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="carbohydrates">Carbohydrates</label>
                                        <input type="number" class="form-control" name="carbohydrates" id="carbohydrates" placeholder="Carbohydrate" value="{{food.carbs}}">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="fat">Fat</label>
                                        <input type="number" name="fat" id="fat" placeholder="Fat" value="{{food.fats}}">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label style="visibility: hidden;">Submit</label>
                                        <input type="hidden" name="food-id" value="{{food.food_id}}">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            <i class="fas fa-cloud-upload-alt" style="margin-right: 5px;"></i>Submit
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row t20">
            <div class="col-lg-4 col-lg-offset-2">
                <div class="panel panel-default panel-2" id="foodform">
                    <div class="panel-body">
                        <h4>
                            <i class="fas fa-th-list" style="margin-right: 5px;"></i>Existing Food Item
                        </h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 5%;">#</th>
                                    <th>Name</th>
                                    <th style="width: 10%;">Protein</th>
                                    <th style="width: 16%;">Carbohydrates</th>
                                    <th style="width: 10%;">Fat</th>
                                    <th style="width: 12%;">Calories</th>
                                    <th style="width: 20%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for food in foods  %}
                                <tr>
                                    <td>{{food.food_id}}</td>
                                    <td>{{food.name}}</td>
                                    <td>{{food.proteins}}</td>
                                    <td>{{food.carbs}}</td>
                                    <td>{{food.fats}}</td>
                                    <td>{{food.calories}}</td>
                                    <td>
                                        <a href="{{url_for('main.edit_food', food_id=food.food_id)}}" class="btn btn-default btn-xs"><i class="fas fa-edit" style="margin-right: 3px;"></i>Edit</a>
                                        <a href="{{url_for('main.delete_food', food_id=food.food_id)}}" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt" style="margin-right: 3px;"></i> Del</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       
{% endblock %}        