<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{%  block title %} {% endblock %}</title>
    
    <!-- google fonts link -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu:400,700" rel="stylesheet">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{{url_for('static', filename='bs/css/united.min.css')}}">
    <!-- custom css -->
    <link rel="stylesheet" href="static/styles.css">
      
    <!-- google fonts -->
    
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'  rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
  {% block body %}
  {% endblock %}


    <footer>
        <div class="row pad">
            <div class="col-lg-12 text-center">
                Copyright &copy;  2021 <strong>Food Tracker</strong>
            </div>
        </div>
    </footer>
</div>

<!-- jquery js -->
<script src="{{url_for('static', filename='bs/js/jquery.min.js')}}"></script>
<!-- bootstrap js -->
<script src="{{url_for('static', filename='bs/js/bootstrap.min.js')}}"></script>
</body>
</html>